body
{
	margin:0;
	background:#222;
	font-family: 'WORK SANS', sans-serif;
	font-weight:400;
}
.container{
	width:80%;
	margin:0 auto;
}
header{
	background:#55d6aa;
}
header::after{
	content:'';
	display:table;
	clear:both;
}
iframe{
	margin-top:60px;
}
.logo{
	float:left;
	padding:10px 0;
}
nav{
	float:right;
}
nav ul{
	margin:0;
	padding-top:0;
	list-style:none;
}
nav li{
	display:inline-block;
	margin-left:70px;
	padding-top:25px;
	position:relative;
}
nav a{
	color:#444;
	text-decoration:none;
	text-transform:uppercase;
	
}
nav a:hover{
	color:#000;
}
nav a::before{
	content:'';
	display:block;
	height:5px;
	top:0;
	width:0%;
	background-color:#444;
	position:absolute;
	transition:all ease-in-out 250ms;
	
}
nav a:hover::before{
	width:100%;
}
	
	